<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OMAdmin"
        tools:targetApi="31">
        <activity
            android:name=".tourist.UpdateDestinationActivity"
            android:exported="false" />
        <activity
            android:name=".tourist.SingleDestination"
            android:exported="false" />
        <activity
            android:name=".tourist.AddTouristSite"
            android:exported="false" />
        <activity
            android:name=".tourist.TouristMainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hotels.ShowReservationState"
            android:exported="false" />
        <activity
            android:name=".hotels.DisplayRoomImages"
            android:exported="false" />
        <activity
            android:name=".hotels.RoomUploadImage"
            android:exported="false" />
        <activity
            android:name=".hotels.RoomSingleItem"
            android:exported="false" />
        <activity
            android:name=".hotels.HotelProfileUpdate"
            android:exported="false" />
        <activity
            android:name=".hotels.AddRoom"
            android:exported="false" />
        <activity
            android:name=".hotels.HotelProfileCreation"
            android:exported="false" />
        <activity
            android:name=".hotels.HotelsMainActivity"
            android:exported="false" />
        <activity
            android:name=".hotels.MainActivity"
            android:exported="false" />
        <activity
            android:name=".shops.ShopSingleItem"
            android:exported="false" />
        <activity
            android:name=".shops.AddStoreItem"
            android:exported="false" />
        <activity
            android:name=".shops.ShopProfileUpdate"
            android:exported="false" />
        <activity
            android:name=".shops.ShopProfileCreation"
            android:exported="false" />
        <activity
            android:name=".shops.ShoppingMainActivity"
            android:exported="false" />
        <activity
            android:name=".uploadingfood.history.PointsHistory"
            android:exported="false" />
        <activity
            android:name=".uploadingfood.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".uploadingfood.CropImageActivity"
            android:exported="false" />
        <activity
            android:name=".uploadingfood.UpdateRestaurantProfile"
            android:exported="false" />
        <activity
            android:name=".uploadingfood.FoodSingleItem"
            android:exported="false" />
        <activity
            android:name=".uploadingfood.AddFood"
            android:exported="false" />
        <activity
            android:name=".uploadingfood.RestaurantProfileCreation"
            android:exported="false" />
        <activity
            android:name=".uploadingfood.Restaurants"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- optional (needed if default theme has no action bar) -->

        </activity>
    </application>

</manifest>